<div>
    <div class="btn-group btn-group-sm justify-content-center text-center" role="group">
        <button class="btn btn-dark" data-toggle="modal" data-target="#abc">
            <span class="material-icons mt-2">add_box</span>
        </button>
        <button class="btn btn-dark" data-toggle="modal" data-target="#def">
            <span class="material-icons mt-2">archive</span>
        </button>
        <button class="btn btn-dark" data-toggle="modal" data-target="#ghi">
            <span class="material-icons mt-2">explore</span>
        </button>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-responsive-md table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Waktu transaksi</th>
                        <th>Kode</th>
                        <th>Jumlah</th>
                        <th>Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sabtu, 17 Oktober 2020 16.58</td>
                        <td>CETIRIZIN</td>
                        <td>2</td>
                        <td>25.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-dark text-white">Catatan</div>
                <div class="card-body">
                    <p>
                        Dalam mencatat obat, ada tiga satuan yang dipakai dalam mencatat
                        harga dan jumlah:
                    </p>
                    <ul>
                        <li>Buah. Disinonimkan dengan box, botol, pcs, atau sachet 
                            (mungkin pak bisa disinonimkan dengan ini)</li>
                        <li>Strip. Digunakan khusus untuk obat berkemasan strip</li>
                        <li>Eceran. Disinonimkan dengan biji</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>